.about-us{
    background-color: $primary-color;
    height: 100%;
    

    .main-title{
        height: 60vh;
        background-image:url(/images/bg-1.png);
        background-size: cover;
        overflow: hidden;
        @include flex-center(column);
        font-family: $title-font-family;
        @include main-title;

    }    
    .about-content{
        display: flex;
        flex-direction: column;
        flex: 1;

        .about-item{
            @include flex-center(row);
            height: 40vh;
            
            .abt-title{
                font-family: $title-font-family;
                font-size: 1.5rem;
                color: set-text-color($primary-color);
            }
            p{
                padding: 10px;
                font-family: $sub-secondary-font;
                line-height: 1.5;
                letter-spacing: 1;
                
            }
            
            
            .abt-title{
                min-height: 100%;
                min-width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            

            
        }
        .vision{
            background-image: url(/images/abt-bgd.png);
            background-size: cover;
            background-repeat: no-repeat;
            color: set-text-color($primary-color);

        }


        
    }


}