.home{
    height: 100%;
    padding-top: 30vh;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image: url(/images/bg-img.png);
    background-size: cover;
    
    .slogan {
        font-size: 2.5rem;
        padding: 0.5rem;
        margin: 0.5rem;
        color: $text-color;
        font-family: $title-font-family;

    }
    span{
        color: $secondary-color;

    }
    .sub-slogan{
        font-size: 1.5rem;
        font-family: $secondary-font;


        a{
            animation: neon 1.5s infinite;
        }
    }
}
        
    


