@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'pricing';

body{
    color: set-text-color($primary-color);
    height: 100vh;
    background-color: $primary-color;
    
}

h1, h2, h3{
    font-weight: 500;
    
}

a {
    text-decoration: none;
    color: set-text-color($primary-color);
}




header{
    position:fixed;
    width: 100%;
    padding: 1rem;

    .logo-title{
        font-family: $secondary-font;
        color: $secondary-color;
        text-align: center;
        

    }

}

main{
    height: 100%;
    width: 100%;
    


}
footer{
    height: 20vh;
    font-size: 1rem;
    position:relative;
    text-align: center;
    padding-bottom: 1rem;
    color: set-text-color($primary-color);
    background-color: #000000ec;



    ul{
        list-style-type: none;
        text-decoration: none;
        appearance: none;
        display: flex;
        flex: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-top: 1rem;


        .icons{
            padding: 0.5rem;
            border: 1px solid $secondary-color;
            border-radius: 180px;
            margin-bottom: 0.5rem;

            &:hover{
                background-color: $secondary-color;
                zoom: 1;
                @include transition-ease;
            }
        }
        

        
        
    }
}

